@import url('../../../assets/css/main.css');


.terminal-window-cf { 
  width: 100%; 
  min-height: 60vh; 
  background-color: var(--terminal-black); 
  border: 2px solid var(--steel-blue); 
  border-radius: 6px; /* less rounded */ 
  overflow: hidden; 
  text-align: left; 
  font-weight: 300;
  letter-spacing: -0.02em;
  box-shadow: 0 2px 8px rgba(0,0,0,.08);
  font-family: "JetBrains Mono", monospace;
  margin-bottom: 4rem;
} 

.contact-terminal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    padding: 10px 12px;   /* or even 8px 10px */
}


.contact-form {
    width: 100%;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  background: transparent;
  border: none;
  padding: 0;
}

.contact-form textarea {
  height: auto;
}

.contact-form input:focus,
.contact-form textarea:focus,
.contact-form button:focus {
  outline: none;
  
}

.contact-form input::placeholder,
.contact-form textarea::placeholder,
.contact-form button::placeholder {
  color: var(--sage-shadow);
  font-weight: 300;
  opacity: 1;
  font-family: "JetBrains Mono", monospace;
}


@media (max-width: 767px) {
  .contact-form {
  margin-top: 1.7em;
}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contact-form {
    margin-top: 1.7em;
  }
}

.terminal-input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: var(--terminal-text);
    font: inherit;
    margin-left: .5rem;
    font-family: "JetBrains Mono", monospace;

    padding: 0;  
    height: auto;        
    line-height: 1.5;
}

.terminal-textarea {
    flex: 1;
    min-height: 80px;

    background: transparent;
    border: none;
    outline: none;
    resize: vertical;

    color: var(--terminal-text);
    font: inherit;
    font-family: "JetBrains Mono", monospace;

    margin-left: .5rem;
    padding: 0;  
    line-height: 1.5;
    padding-top: 10px;        
}


.cmd-cf {
  color: var(--terminal-text)
}

.btn-cf {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  padding: 0.6rem 1.25rem;
  background-color: transparent;

  color: var(--terminal-text);
  border: 1px solid transparent; 

  transition: background-color .2s, transform .2s;
  box-shadow: none !important;
}

.btn-cf:hover {
  transform: translateY(-1px);
}

.btn-cf,
.btn-cf:hover,
.btn-cf:focus,
.btn-cf:active {
    box-shadow: none !important;
    outline: none !important;
}

.mobile-prompt {
  display: none;
}

.desktop-prompt {
  display: inline;
}


@media (max-width: 767px) {

  .terminal-line {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.35rem;
  }

  .terminal-input,
  .terminal-textarea {
    width: 100%;
    margin-left: 0;
    min-width: 0;
  }

  .btn-cf {
    padding-left: 0;
  }

  .desktop-prompt {
      display: none;
  }

  .mobile-prompt {
      display: inline;
  }
}