@import url('../../../assets/css/main.css');

.About {
  background-color: var(--steel-blue);
}

.footer {
  text-align: center;
  padding: 0 0;
  font-family: "JetBrains Mono", monospace;
  font-size: 0.8rem;
  color: var(--sage-green);
}
  
  