@font-face {
  font-family: "CustomFont1";
  src: url("/fonts/V8mDoQDjQSkFtoMM3T6r8E7mPbF4Cw.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CustomFont2";
  src: url("/fonts/tDbV2o-flEEny0FZhsfKu5WU4xD7OwE.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*font-family: "JetBrains Mono", monospace;*/
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap');

:root {
  --light-white: #f2fbfc ;
  --light-color: #ffffff;
  --medium-color: #94ad96;
  --dark-color: #145b2c;
  --highlight-color: #cfebde;
  --accent-color: #6d9281;
  --beige-color:#d3dea5;
  --light-purple: #9f98b9;
  --terminal-black: #202328;
  --terminal-grey: #323232;
  --terminal-text: #e8f6eb;
  --terminal-green: #e6ffe5;
  --terminal-cool: #323239;
  --text-dark: #202020;
  --light-gray: #cecece;

}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
 
}

body {
  
  letter-spacing: 0.2em;
  font-weight: normal;
  font-style: normal;
  overflow-x: hidden;
  background-color: var(--light-white);
  margin: 0;
  padding: 0;
  background: red !important;
  
}

h1, h2, h3 {
  font-family: 'CustomFont1', sans-serif;
}

p {
  font-family: 'CustomFont2', sans-serif;
}

/* h2  {
  font-family: 'Roboto', sans-serif;
} */

h3 {
  font-family: 'CustomFont1', sans-serif;
}



@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 450px;
  }
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}



@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
