@import url('../../../assets/css/main.css');


.typewriter-container p {
  color: var(--text-dark);
  font-size: 24px;
  margin-top: 10px;
  font-family: "JetBrains Mono", monospace;
}

/*
.typewriter-text {
  color: var(--text-dark);
  font-size: 24px;
  font-weight: bold;
}
  */

.terminal-prompt {
  color: var(--text-dark); 
  font-weight: 600;
  user-select: none;
  font-family: "JetBrains Mono", monospace;
}

.blinking-cursor {
  display: inline-block;
  vertical-align: bottom;
  width: 0.2em;
  height: 1.2em;
  margin-left: 0.1em;
  /*background-color: var(--highlight-color);*/
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
