@import url('../../../assets/css/main.css');

.section-container {
  width: min(1000px, 80vw);
  margin: 0 auto;
}

.projects {
  background-color: var(--light-white);
  text-align: left;
  padding: 130px 0;
}

.section-title h2 {
  color: var(--text-dark);
  font-size: 35px;
  margin-bottom: 10px;
  margin-bottom: 2rem;
  text-align: left;
  display: flex;
  justify-content: flex-start;

  font-size: 3em;
  font-weight: 600;
}


.project-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
}

.project-card {
  background: white;
  border: 1px solid var(--sage-shadow);
  border-radius: 12px;
  padding: 16px;

  display: flex;
  flex-direction: column;   /* <-- stack vertically */

  align-items: flex-start;  /* left-align */
  gap: 4px;

  transition: 0.3s;
  box-shadow: 0 4px 10px rgba(0,0,0,.05);
  font-family: "JetBrains Mono", monospace;
}

/*
.project-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 0.75rem;
}*/

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.proj-title {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
  letter-spacing: -0.02em;

  flex: 1;
  min-width: 0;
}

.description {
  font-size: 1rem;
  color: var(--terminal-black);
  letter-spacing: -0.02em;
}

.project-links {
    display: flex;
    gap: 0.8rem;

    justify-content: flex-end;
    margin-left: auto;
}

.project-links a {
    color: var(--sage-shadow);
    font-size: 1.2rem;
    transition: .2s;
}

.project-links a:hover {
    color: var(--sage-green);
}

.project-skills {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;

  margin-top: 1rem;
}

.skill-pill {
  padding: 3px 8px;
  font-size: 0.72rem;
  line-height: 1.2;

  border-radius: 6px;

  background: var(--steel-blue);
  border: 1px solid var(--sage-shadow);

  color: var(--terminal-black);

  font-family: "JetBrains Mono", monospace;
}